[Desktop Entry]
Type=Link
URL=https://www.facebook.com/help/371675846332829
Name[es_ES]=Cómo veo y modifico las preferencias de la sección de noticias - Servicio de ayuda de Facebook.desktop
